{% extends "agent/base.html" %}

{% block content %}

<div class="flex grid grid-cols-2 w-full px-5 pt-5 gap-3">
    <a href="{% url 'agent_ticket' %}">
        <div class="border border-gray-300 text-white text-2xl py-10 flex  flex-col items-center rounded-lg">
            <h2>Tickets</h2>
            <p>20</p>
        </div>
    </a>
    <div class="border border-gray-300 text-white text-2xl py-10 flex flex-col items-center rounded-lg">
        <h2>Solved Ticket</h2>
        <span>15</span>
    </div>
    <div class="border border-gray-300 text-white text-2xl py-10 flex flex-col items-center rounded-lg">
        <h2>In progress Ticket</h2>
        <span>Go</span>
    </div>
    <div class="border border-gray-300 text-white text-2xl py-10 flex flex-col items-center rounded-lg">
        <h2>Closed Tickets</h2>
        <span>Open ticket</span>
    </div>

</div>
<div class="grid grid-cols-2 w-full px-5 gap-3">
    <div class="flex-1">
        <div class="bg-white p-5 m-5 rounded-lg ">
            <h2 class="text-2xl font-bold mb-5">Recent Activities</h2>
            <ul class="list-disc list-inside">
                <li>User JohnDoe created a new ticket.</li>
                <li>Agent JaneSmith resolved ticket #1234.</li>
                <li>New user MikeBrown registered.</li>
                <li>Report for last month generated.</li>
            </ul>
        </div>
    </div>
    <!-- recent open ticket -->
    <div class="flex-1">
        <div class="bg-white p-5 m-5 rounded-lg ">
            <h2 class="text-2xl font-bold mb-5">Recent Open Tickets</h2>
            <table class="min-w-full bg-white">
                <thead>
                    <tr>
                        <th class="py-2 px-4 border-b">Ticket ID</th>
                        <th class="py-2 px-4 border-b">Subject</th>
                        <th class="py-2 px-4 border-b">Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="py-2 px-4 border-b">#1234</td>
                        <td class="py-2 px-4 border-b">Issue with login</td>
                        <td class="py-2 px-4 border-b">Open</td>
                    </tr>
                    <tr>
                        <td class="py-2 px-4 border-b">#1235</td>
                        <td class="py-2 px-4 border-b">Error on dashboard</td>
                        <td class="py-2 px-4 border-b">Open</td>
                    </tr>
                    <tr>
                        <td class="py-2 px-4 border-b">#1236</td>
                        <td class="py-2 px-4 border-b">Payment not processed</td>
                        <td class="py-2 px-4 border-b">Open</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}