{% extends "agent/base.html" %}

{% block content %}

<div class="flex grid grid-cols-2 w-full px-[7%] gap-3">
    <div class="border border-gray-300 text-white text-2xl py-10 flex  flex-col items-center">
        <h2>Tickets</h2>
        <p>20</p>
    </div>
    <div class="border border-gray-300 text-white text-2xl py-10 flex flex-col items-center">
        <h2>Solved Ticket</h2>
        <span>15</span>
    </div>
    <div class="border border-gray-300 text-white text-2xl py-10 flex flex-col items-center">
        <h2>In progress Ticket</h2>
        <span>Go</span>
    </div>
    <div class="border border-gray-300 text-white text-2xl py-10 flex flex-col items-center">
        <h2>Closed Tickets</h2>
        <span>Open ticket</span>
    </div>
    

</div>

{% endblock %}