{% extends "adminuser/base.html" %}

{% block content %}

<div class="py-5 bg-rose-200 min-h-screen ">
    <div class="bg-rose-200 py-2 mx-3 mb-3 flex items-center">
        <h2 class="px-4 py-2 bg-red-500 font-semibold text-white text-xl rounded ">Tickets</h2>
    </div>
    <div class="flex flex-col bg-white mx-3 px-[2%] py-5 rounded-lg">
        <h2 class="pb-2 font-bold">Open Tickets</h2>
        <hr>
        <div class="pt-3 flex flex-1 justify-center px-0">
            {% if open_tickets %}
            <table class=" w-full">
                <thead>
                    <tr class="">
                        <th class="py-2 border">Ticket ID</th>
                        <th class="py-2 border">Customer</th>
                        <th class="py-2 border">Type</th>
                        <th class="py-2 border">Title</th>
                        <th class="py-2 border">Priority</th>
                        <th class="py-2 border">Action</th>
                    </tr>
                </thead>
                <tbody>
                    
                    {% for ticket in open_tickets %}
                    <tr class="">
                        <td class="px-2 py-2 border flex justify-center"><a href="{% url 'admin_view_ticket' ticket.id %}">{{ticket.id}}</a></td>
                        <td class="px-2 py-2 border"><a href="{% url 'view_customer' ticket.created_by.id %}">{{ticket.created_by.username}}</a></td>
                        <td class="px-2 py-2 border">{{ticket.problem_type}}</td>
                        <td class="px-2 py-2 border"><a href="{% url 'admin_view_ticket' ticket.id %}">{{ticket.title}}</a></td>
                        <td class="px-2 py-2 border">{{ticket.priority}}</td>
                        <td class="border ">
                            <div class="flex flex-row gap-3 mx-2 justify-center">
                                <a href="{% url 'admin_take' ticket.id %}" class="text-white font-semibold bg-blue-400 px-2 py-1">Take</a>
                                <a href="{% url 'admin_view_ticket' ticket.id %}" class="text-white font-semibold bg-blue-400 px-2 py-1">View</a>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                    
                </tbody>
            </table>
            {% else %}
            <h2>There is not open Ticket</h2>
            {% endif %}
        </div>
    </div>

    <div class="flex flex-col bg-white mx-3 px-[2%] mt-5 py-5 rounded-lg">
        <h2 class="pb-2 font-bold">Open Tickets by Priority </h2>
        <hr>
        <div class="pt-3 flex flex-1 justify-center px-0">
            {% if tickets_by_priority %}
            <table class=" w-full">
                <thead>
                    <tr class="">
                        <th class="py-2 border">Priority</th>
                        <th class="py-2 border">Customer</th>
                        <th class="py-2 border">Ticket ID</th>
                        <th class="py-2 border">Type</th>
                        <th class="py-2 border">Title</th>
                        <th class="py-2 border">Action</th>
                    </tr>
                </thead>
                <tbody>
                    
                    {% for ticket in tickets_by_priority %}
                    <tr class="">
                        <td class="px-2 py-2 border uppercase flex justify-center">{{ticket.priority}}</td>
                        <td class="px-2 py-2 border"><a href="{% url 'view_customer' ticket.created_by.id %}">{{ticket.created_by.username}}</a></td>
                        <td class="px-2 py-2 border"><a href="{% url 'admin_view_ticket' ticket.id %}">{{ticket.id}}</a></td>
                        <td class="px-2 py-2 border">{{ticket.problem_type}}</td>
                        <td class="px-2 py-2 border"><a href="{% url 'admin_view_ticket' ticket.id %}">{{ticket.title}}</a></td>
                        <td class="px-2 py-1 border flex justify-center"><a href="{% url 'admin_view_ticket' ticket.id %}" class="px-2 py-1 bg-green-400 mx-2">View</a></td>
                    </tr>
                    {% endfor %}
                    
                </tbody>
            </table>
            {% else %}
            <h2>There is not open Ticket</h2>
            {% endif %}
        </div>
    </div>
    <div class="flex flex-col bg-white mx-3 px-[2%] my-5 py-5 rounded-lg">
        <h2 class="pb-2 font-bold">In Progress Tickets</h2>
        <hr>
        <div class="pt-3 flex flex-1 justify-center px-0">
            {% if progress_tickets %}
            <table class=" w-full">
                <thead>
                    <tr class="">
                        <th class="py-2 border">Ticket ID</th>
                        <th class="py-2 border">Customer</th>
                        <th class="py-2 border">Type</th>
                        <th class="py-2 border">Title</th>
                        <th class="py-2 border">Assign To</th>
                        <th class="py-2 border">Action</th>
                    </tr>
                </thead>
                <tbody>
                    
                    {% for ticket in progress_tickets %}
                    <tr class="">
                        <td class="px-2 py-2 border "><a href="{% url 'admin_view_ticket' ticket.id %}">{{ticket.id}}</a></td>
                        <td class="px-2 py-2 border"><a href="{% url 'view_customer' ticket.created_by.id %}">{{ticket.created_by.username}}</a></td>
                        <td class="px-2 py-2 border">{{ticket.problem_type}}</td>
                        <td class="px-2 py-2 border"><a href="{% url 'admin_view_ticket' ticket.id %}">{{ticket.title}}</a></td>
                        <td class="px-2 py-2 border">{% if ticket.assign_to %}<a href="{% url 'view_agent' ticket.assign_to.id %}">{{ticket.assign_to.username}}</a>{% else %} Not assigned {% endif %}</td>
                        <td class="px-2 py-2 border "><a href="{% url 'admin_view_ticket' ticket.id %}" class="px-2 py-2 bg-green-400">View</a></td>
                    </tr>
                    {% endfor %}
                    
                </tbody>
            </table>
            {% else %}
            <h2>There is no In progress Ticket</h2>
            {% endif %}
        </div>
    </div>

    <div class="flex flex-col bg-white mx-3 px-[2%] my-5 py-5 rounded-lg">
        <h2 class="pb-2 font-bold">Closed Tickets</h2>
        <hr>
        <div class="pt-3 flex flex-1 justify-center px-0">
            {% if closed_tickets %}
            <table class=" w-full">
                <thead>
                    <tr class="">
                        <th class="py-2 border">Ticket ID</th>
                        <th class="py-2 border">Customer</th>
                        <th class="py-2 border">Type</th>
                        <th class="py-2 border">Title</th>
                        <th class="py-2 border">Assign To</th>
                        <th class="py-2 border">Action</th>
                    </tr>
                </thead>
                <tbody>
                    
                    {% for ticket in closed_tickets %}
                    <tr class="">
                        <td class="px-2 py-2 border"><a href="{% url 'admin_view_ticket' ticket.id %}">{{ticket.id}}</a></td>
                        <td class="px-2 py-2 border"><a href="{% url 'view_customer' ticket.created_by.id %}">{{ticket.created_by.username}}</a></td>
                        <td class="px-2 py-2 border">{{ticket.problem_type}}</td>
                        <td class="px-2 py-2 border"><a href="{% url 'admin_view_ticket' ticket.id %}">{{ticket.title}}</a></td>
                        <td class="px-2 py-2 border">{% if ticket.assign_to %}<a href="{% url 'view_agent' ticket.assign_to.id %}">{{ticket.assign_to.username}}</a>{% else %} Not assigned {% endif %}</td>
                        <td class="px-2 py-2 border flex justify-center"><a href="{% url 'admin_view_ticket' ticket.id %}" class="px-2 py-2 bg-green-400 mx-2 my-1">View</a></td>
                    </tr>
                    {% endfor %}
                    
                </tbody>
            </table>
            {% else %}
            <h2>There haven`t closed any Ticket until</h2>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}