<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Technical Support Management Project</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div class=" bg-rose-500 px-[10%] flex justify-between items-center py-4">
        <div class="font-bold text-3xl">
            <a href="{% url 'user_dashboard' %}">TSM</a>
        </div>
        <div class="flex justify-between w-80 font-semibold">
            <a href="{% url 'user_dashboard' %}" class="px-5">Home</a>
            <a href="" class="px-5">Contact</a>
            <a href="" class="px-5">About Us</a>
        </div>
        <div class=" px-3 flex flex-row gap-5 font-semibold">
            {% if request.user.is_authenticated %}
            <h2 class="font-semibold uppercase">{{request.user.username}}</h2>
            <form action="{% url 'logout' %}" method="post" >
                {% csrf_token %}

                <input type="submit" value="Logout" class="cursor-pointer">
            </form>
            {% else %}
            <a href="{% url 'login' %}">Login</a>
            <a href="{% url 'registration' %}">Register</a>
            {% endif %}

        </div>
    </div>
    <div class="">
        {% block content %}

        {% endblock %}
    </div>
</body>
</html>